body {
  margin: 0;
}

.container {
  display: flex;
}

.sidebar {
  padding-top: 20px;
  background-color: red;
  height: 800px;
  width: 20%;
}

#logo-name {
  color: white;
  font-size: 35px;
}

hr {
  background-color: white;
}

ul {
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.nav-links:hover {
  color: black;
}

#log-out {
  border-radius: 25px;
  margin: 70px 40px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  color: red;
  background-color: white;
}

#log-out:hover {
  color: black;
}

#task-info {
  margin-left: 350px;
  margin-top: 30px;
}

#image-display {
  color: white;
  background-color: gray;
  border: 1px solid black;
  padding: 120px;
}

#skip {
  color: red;
  margin-left: 150px;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
}

.item-info {
  background-color: white;
}

.item-info input {
  float: right;
}

.item-info label {
  margin-left: -40px;
}
