body {
  margin: 0;
}

.container {
  display: flex;
}

.sidebar {
  padding-top: 20px;
  background-color: red;
  height: 800px;
  width: 20%;
}

#logo-name {
  color: white;
  font-size: 35px;
}

hr {
  background-color: white;
}

ul {
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.nav-links:hover {
  color: black;
}

#log-out {
  border-radius: 25px;
  margin: 70px 40px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  color: red;
  background-color: white;
}

#log-out:hover {
  color: black;
}

#workspace {
  margin-left: 350px;
  margin-top: 30px;
}

.image-display {
  color: white;
  background-color: gray;
  border: 1px solid black;
  padding: 120px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#skip {
  color: red;
  /* margin-left: 150px; */
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
}

#scan-location {
  color: white;
  background-color: red;
  margin-left: 50px;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
}

.item-info {
  background-color: white;
}

.item-info input {
  float: right;
}

.item-info label {
  margin-left: -40px;
}

.toggle {
  display: none;
}

#customer-view {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products {
  width: 15%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 80px;
}

img {
  border: 1px solid#e3e3e3;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
  font-weight: bold;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-to-cart-btn {
  background-color: red;
  color: white;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid black;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: red;
}
